.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

.infrac{
  background-color: #fff ;
  transition: 0.3s;
  border-radius: 5px;
  width: 40%;
  height: 100%;
  margin : 0;
  padding: 10px;
  justify-items: left;
}

.infrac p{
  font-size: medium;
  margin: 2px 0;
}

.infrac button {
  margin-top: 10px;
  max-height: 60px;
}
/*.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
  }*/
  
  .infracs{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  /* On mouse-over, add a deeper shadow */
  .infrac:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

