body {
  font-family: Arial;
  overflow: auto;
}

.main-map{
  display: block;
}

.section-center{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  max-height: fit-content;
  background-color: #081b30;
  color: white;
}

.aside-comercios{
  position: static;
  float: right;
  height :80%; 
}

.aside-bar{
  height: fit-content; /* Full-height: remove this if you want "auto" height */
  width: 0; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: inherit; /* Stay at the top */
  right: 0;
  background-color: #081b30; /* Black */
  padding-top: 0px;
  overflow: hidden;
}

.comercio-info{
  width: 100%;
  font-size: small;
}

aside p{
  padding: 20px 0;
  color: #fff;
}

#mapid {
  background: #CCC;
  position: fixed;
  top: inherit;
  height: 81%;
  width: 100%;
}

#mapDepositoid {
  background: #CCC;
  position: relative;
  height: 0px;
  width: 100%;
}

.caja_1{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.caja_1 a{
  text-decoration: none;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: unset;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

@media only screen and (min-width: 1199px) {
  .main-map{
    padding-top: 97px;
  }
}